### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [78]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(80)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
75,75,Lisa Long,F,10th,Huang High School,87,62,0,District,2917,1910635
76,76,Erin Liu,F,9th,Huang High School,78,76,0,District,2917,1910635
77,77,Marcus Richards,M,12th,Huang High School,83,76,0,District,2917,1910635
78,78,Jason Thompson,M,12th,Huang High School,99,57,0,District,2917,1910635
79,79,Elizabeth Mckinney,F,9th,Huang High School,74,81,0,District,2917,1910635

In [56]:

total_schools = len(school_data['school_name'])
total_students = sum(school_data['size'])
total_budget = sum(school_data['budget'])
average_math = ((sum(school_data_complete["math_score"])/len(school_data_complete["math_score"])))
average_reading = ((sum(school_data_complete["reading_score"])/len(school_data_complete["reading_score"])))
passing_math = ((len(student_data[student_data["math_score"]>=70])/total_students)*100)            
passing_reading = ((len(student_data[student_data["reading_score"]>=70])/total_students)*100)
passing_overall = ((len(student_data[(student_data["math_score"]>=70) & 
                        (student_data["reading_score"]>=70)])/total_students)*100)

summary_data = {"Total Schools": [total_schools],
                "Total Students": [total_students], 
                "Total Budget": [total_budget],
                "Average Math Score": [average_math], 
                "Average Reading Score": [average_reading], 
                "% Passing Math": [passing_math],
                "% Passing Reading": [passing_reading], 
                "% Overall Passing": [passing_overall]}

district_summary_df = pd.DataFrame(summary_data)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [72]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [59]:
totalStudent= school_data_complete["school_name"].value_counts()
totalStudent

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [101]:
school_name= school_data["school_name"]
school_name

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [ ]:
#school_type = school_data_complete.groupby(["school_name", "type"]
#per_school_mr = pd.merge(school_math_avg, school_reading_avg, on=["school_name"])
#school_total_students = school_data_complete[school_data_complete["Student ID"]].groupby("school_name")["Student ID "].count()
#per_school_mr.head()
#school_type.head()
#scores_df.head()
#overall_passing

In [122]:
#school_type = school_data

school_type= school_data["type"]
school_budget = school_data["budget"]
school_size = school_data["size"]
school_math_avg = school_data_complete.groupby(["school_name"]).mean()["math_score"]
school_reading_avg = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
scores_df = school_data_complete[["school_name", "math_score", "reading_score", "size"]]
passing_math = school_data_complete[school_data_complete["math_score"]>=70]
totalStudent= school_data_complete["school_name"].value_counts()
percent_passing_math = passing_math.groupby(["school_name"]).count()["student_name"]/totalStudent*100
passing_reading = school_data_complete[school_data_complete["reading_score"]>=70]
percent_passing_reading = passing_reading.groupby(["school_name"]).count()["student_name"]/totalStudent*100
percent_overall_passing = school_data_complete[(school_data_complete["math_score"]>=70) & 
                   (school_data_complete["reading_score"]>=70)].groupby("school_name")["Student ID"].count()/totalStudent*100
#index = [school_name]
#each_school_data = {"School Type": [school_type],
                    #"Total Students": [school_size], 
                    #"Total School Budget": [school_budget],}
                    #"Average Math Score": [school_math_avg], 
                    #"Average Reading Score": [school_reading_avg], 
                    #"% Passing Math": [percent_passing_math],
                    #"% Passing Reading": [percent_passing_reading], 
                    #"% Overall Passing": [percent_overall_passing]}

#each_school_summary_df = pd.DataFrame(each_school_data, index=index)
#each_school_summary_df.set_index("School Name")
#each_school_summary_df["Total School Budget"] = each_school_summary_df["Total School Budget"].map("${:,.2f}".format)

#each_school_summary_df.head()

,School Type,Total Students,Total School Budget
school_name,,,
Huang High School,0 District 1 District 2 Charter 3...,0 2917 1 2949 2 1761 3 4635 4 ...,0 1910635 1 1884411 2 1056600 3 ...
Figueroa High School,0 District 1 District 2 Charter 3...,0 2917 1 2949 2 1761 3 4635 4 ...,0 1910635 1 1884411 2 1056600 3 ...
Shelton High School,0 District 1 District 2 Charter 3...,0 2917 1 2949 2 1761 3 4635 4 ...,0 1910635 1 1884411 2 1056600 3 ...
Hernandez High School,0 District 1 District 2 Charter 3...,0 2917 1 2949 2 1761 3 4635 4 ...,0 1910635 1 1884411 2 1056600 3 ...
Griffin High School,0 District 1 District 2 Charter 3...,0 2917 1 2949 2 1761 3 4635 4 ...,0 1910635 1 1884411 2 1056600 3 ...

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [123]:
ninth_grade_math = school_data_complete[school_data_complete["grade"]== "9th"]
ninth_grade_school_math = ninth_grade_math.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math = school_data_complete[school_data_complete["grade"]== "10th"]
tenth_grade_school_math = tenth_grade_math.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math = school_data_complete[school_data_complete["grade"]== "11th"]
eleventh_grade_school_math = eleventh_grade_math.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math = school_data_complete[school_data_complete["grade"]== "12th"]
twelfth_grade_school_math = twelfth_grade_math.groupby(["school_name"]).mean()["math_score"]
ninth_and_tenth_math = pd.merge(ninth_grade_school_math, tenth_grade_school_math, on=["school_name"])
ninth_and_tenth_math = ninth_and_tenth_math.rename(columns={"math_score_x": "9th", "math_score_y": "10th"})
ninth_thru_eleventh_math = pd.merge(ninth_and_tenth_math, eleventh_grade_school_math, on=["school_name"])
ninth_thru_eleventh_math = ninth_thru_eleventh_math.rename(columns={"math_score": "11th"})
ninth_thru_twelfth_math = pd.merge(ninth_thru_eleventh_math, twelfth_grade_school_math, on=["school_name"])
ninth_thru_twelfth_math = ninth_thru_twelfth_math.rename(columns={"math_score": "12th"})
ninth_thru_twelfth_math

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [124]:
ninth_grade_reading = school_data_complete[school_data_complete["grade"]== "9th"]
ninth_grade_school_reading = ninth_grade_reading.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading = school_data_complete[school_data_complete["grade"]== "10th"]
tenth_grade_school_reading = tenth_grade_reading.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading = school_data_complete[school_data_complete["grade"]== "11th"]
eleventh_grade_school_reading = eleventh_grade_reading.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading = school_data_complete[school_data_complete["grade"]== "12th"]
twelfth_grade_school_reading = twelfth_grade_reading.groupby(["school_name"]).mean()["reading_score"]
ninth_and_tenth_reading = pd.merge(ninth_grade_school_reading, tenth_grade_school_reading, on=["school_name"])
ninth_and_tenth_reading = ninth_and_tenth_reading.rename(columns={"reading_score_x": "9th", "reading_score_y": "10th"})
ninth_thru_eleventh_reading = pd.merge(ninth_and_tenth_reading, eleventh_grade_school_reading, on=["school_name"])
ninth_thru_eleventh_reading = ninth_thru_eleventh_reading.rename(columns={"reading_score": "11th"})
ninth_thru_twelfth_reading = pd.merge(ninth_thru_eleventh_reading, twelfth_grade_school_reading, on=["school_name"])
ninth_thru_twelfth_reading = ninth_thru_twelfth_reading.rename(columns={"reading_score": "12th"})
ninth_thru_twelfth_reading

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [165]:
#cut(school_data_complete["budget"]/school_data_complete["size".mean()["budget"]
spending_ranges = [0, 583.9, 629.9, 644.9, 675]
spending_bins = ["<$584", "$585-629", "$630-644", "$645-675"]
school_data_complete["Spending Ranges (Per Student)"]= pd.cut(school_data_complete["budget"]/school_data_complete["size"], spending_ranges, labels= spending_bins)
spending_per_student = school_data_complete.groupby("Spending Ranges (Per Student)")
average_math_spent = round(spending_per_student["math_score"].mean(),2)
average_reading_spent = round(spending_per_student["reading_score"].mean(), 2)
passing_math_spent = round((school_data_complete[school_data_complete["math_score"]>=70].groupby("Spending Ranges (Per Student)")["Student ID"].count()/spending_per_student["Student ID"].count()*100), 2)
passing_reading_spent = round((school_data_complete[school_data_complete["reading_score"]>=70].groupby("Spending Ranges (Per Student)")["Student ID"].count()/spending_per_student["Student ID"].count()*100), 2)
overall_passing_spent = round((school_data_complete[(school_data_complete["math_score"]>=70) &
                                                                   (school_data_complete["reading_score"]>=70)].groupby("Spending Ranges (Per Student)")["Student ID"].count()/spending_per_student["Student ID"].count()*100), 2)
average_spending = pd.merge(average_math_spent, average_reading_spent, on=["Spending Ranges (Per Student)"])
average_spending = average_spending.rename(columns = {"math_score": "Average Math Score",
                                                     "reading_score": "Average Reading Score"})
average_spending_pm = pd.merge(average_spending, passing_math_spent, on=["Spending Ranges (Per Student)"])
average_spending_pm = average_spending_pm.rename(columns = {"Student ID": "% Passing Math"})
average_spending_pr = pd.merge(average_spending_pm, passing_reading_spent, on=["Spending Ranges (Per Student)"])
average_spending_pr = average_spending_pr.rename(columns = {"Student ID": "% Passing Reading"})
overall_spending = pd.merge(average_spending_pr, overall_passing_spent, on=["Spending Ranges (Per Student)"])
overall_spending = overall_spending.rename(columns = {"Student ID": "% Overall Passing"})
overall_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.36,83.96,93.70,96.69,90.64
$585-629,79.98,82.31,79.11,88.51,70.94
$630-644,77.82,81.30,70.62,82.60,58.84
$645-675,77.05,81.01,66.23,81.11,53.53

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.46,83.93,93.46,96.61,90.37
$585-629,81.90,83.16,87.13,92.72,81.42
$630-644,78.52,81.62,73.48,84.39,62.86
$645-675,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

* Perform the same operations as above, based on school size.

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

* Perform the same operations as above, based on school type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208